* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --h1-font-size: 2.5rem;
}

body {
  font-family: "Source Sans 3", sans-serif;
}

section {
  background-color: #f0f4f8;
  height: 100vh;
  padding-block: 4.5rem;
}

.imp {
  max-width: 1320px;
  margin: 0 auto;
  width: 85%;
}

span {
  display: block;
  margin-inline: auto;
  margin-bottom: .3125rem;
  text-transform: uppercase;
  color: #186adc;
}

h2,
h3,
h4,
h5,
h6,
h1 {
  font-family: "Montserrat", sans-serif;
  color: #303036;
}

h2 {
  font-size: var(--h1-font-size);
  margin-bottom: 3.25rem;
}

span,
h2 {
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}




article {
  padding: 2rem 1.25rem;
  color: #63636b;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #d4d4e1;
  transition: .3s;
}

article:hover {
  box-shadow: 2px 4px 20px 1.4px rgba(45, 45, 45, 0.13);
}

.class1 {
  display: flex;
  gap: 1.25rem;
  align-items: center;
  margin-bottom: 1.5rem;
}

img {
  display: block;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.fullname {
  margin-bottom: .125rem;
  font-size: 1.125rem;
}

@media screen and (max-width:990px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media screen and (max-width:670px) {
  main {
    grid-template-columns: repeat(1, 1fr);
  }
}